
.grid{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 33vw;
    margin-left: 33vw;
}

.square{
    border: 0.5vw solid black;
    width: 10vw;
    height: 10vw;
    text-align: center;
    font-size: 8vw;
}

.l{
    border-left-color: transparent;
}

.r{
    border-right-color: transparent;
}

.t{
    border-top-color: transparent;
}

.b{
    border-bottom-color: transparent;
}

.header{
    text-align: center;
    font-size: 5vw;
    margin-bottom: 2vw;
    margin-top: 1vw;
}

.dialogueBox{
    height: 4vw;
    width: 40vw;
    margin-bottom: 2vw;
    margin-left: 30vw;
    text-align: center;
}

.displayText{
    font-size: 1.5vw;
    display: inline-block;
}

.resetButton{
    width: 10vw;
    height: 2vw;
    display: inline-block;
    margin-left: 2vw;
    font-size: 1vw;
}

.w{
    background-color: green;
}